.commitment {

  margin-bottom: 256px;

  &__inner-container {
    max-width: 1150px;
  }

  &__container {
    background-image: url(./../images/our__commitment__bgi.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 520px;
    border-radius: 8px;
    background-size: contain;
    display: flex;
    align-items: center;
  }

  &__right {
    margin-left: 570px;
  }

  &__right-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    width: 357px;
    margin-bottom: 32px;
  }

  &__right-text {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 540px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 800px) {
  .commitment {

    margin-bottom: 256px;

    &__inner-container {
      max-width: 689px;
      width: 100%;
    }

    &__container {
      background-image: url(./../../images/our__commitment__bgi__tablet.png);
      background-repeat: no-repeat;
      width: 281px;
      height: 470px;
      border-radius: 8px;
      background-size: contain;
      display: flex;
      align-items: center;
    }

    &__right {
      margin-left: 349px;
    }

    &__right-heading {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 30px;
    }

    &__right-text {
      font-size: 15px;
      line-height: 25px;
      width: 339px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .commitment {

    margin-bottom: 707px;

    &__inner-container {
      // max-width: 327px;
      width: 100%;
    }

    &__container {
      background-image: url(./../../images/our__commitment__bgi__mobile.png);
      background-repeat: no-repeat;
      width: 327px;
      height: 400px;
      border-radius: 8px;
      background-size: contain;
      display: flex;
      align-items: center;
      position: relative;
    }

    &__right {
      position: absolute;
      margin-left: 310px;
      left: -100%;
      top: 100%;
      margin-top: 48px;
    }

    &__right-heading {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 30px;
      text-align: center;
    }

    &__right-text {
      font-size: 15px;
      line-height: 25px;
      width: 327px;
      text-align: center;
      margin-left: 20px;
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  &__container {
    background-image: url("./../../images/our__commitment__bgi@2x.png");
  }
}
