.header {
  background-color: #fff;
  &__inner-wrapper {
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  &__link {
    text-decoration: none;
  }

  &__logo {
    max-width: 235px;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.5;
    }
  }

  &__nav {
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 33px;
  }

  &__item {
  }

  &__item-current {
  }

  &__item-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      color: #333D4B;
    }
  }

  &__button {
    border: none;
    outline: none;
    background: none;
    display: none;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 16px;
    height: 15px;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      color: #333D4B;
    }
  }

  &__button--active {

    .header__btn-img {
      display: none;
    }

    .header__btn-img-cross {
      display: inline-block;
    }

  }

  &__btn-img {
  }

  &__btn-img-cross {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    top: 0;
    left: 0;
    width: 100%;

    &__inner-wrapper {
      position: relative;
      max-width: 689px;
      width: 100%;
    }

    &__container {
      padding-top: 32px;
      padding-bottom: 40px;
    }

    &__container--active {
      .header__nav {
        display: flex;
      }

      .header__btn-img {
        display: none;
      }

      .header__btn-img-cross {
        display: inline-block;
      }
    }

    &__btn-img {
    }

    &__btn-img-cross {
      display: none;
    }

    &__logo {
      max-width: 163px;
      width: 100%;
    }

    &__nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: calc(100vh - 100%);
      background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
      align-items: flex-start;
      width: 705px;
      justify-content: center;
    }

    &__list {
      padding-top: 40px;
      flex-direction: column;
      gap: 32px;
    }

    &__item-link {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-transform: capitalize;
      text-align: center;
      color: #333D4B;
    }

    &__button {
      display: block;
    }
  }
}

@media only screen and (max-width: 430px) {
  .header {
    top: 0;
    left: 0;
    width: 100%;

    &__inner-wrapper {
      position: relative;
      max-width: 689px;
      width: 100%;
    }

    &__container {
      padding-top: 32px;
      padding-bottom: 40px;
      width: 689px;
    }

    &__container--active {
      .header__nav {
        display: flex;
      }

      .header__btn-img {
        display: none;
      }

      .header__btn-img-cross {
        display: inline-block;
      }
    }

    &__btn-img {
    }

    &__btn-img-cross {
      display: none;
    }

    &__logo {
      max-width: 163px;
      width: 100%;
    }

    &__nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: calc(100vh - 100%);
      background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
      width: 710px;
      align-items: flex-start;
      justify-content: center;
    }

    &__list {
      padding-top: 40px;
      flex-direction: column;
      gap: 32px;
    }

    &__item-link {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-transform: capitalize;
      text-align: center;
      color: #333D4B;
    }

    &__button {
      display: block;
    }
  }
}

@media only screen and (max-width: 400px) {
  .header {
    top: 0;
    left: 0;
    width: 100%;

    &__inner-wrapper {
      position: relative;
      max-width: 689px;
      width: 100%;
    }

    &__container {
      padding-top: 32px;
      padding-bottom: 40px;
    }

    &__container--active {
      .header__nav {
        display: flex;
      }

      .header__btn-img {
        display: none;
      }

      .header__btn-img-cross {
        display: inline-block;
      }
    }

    &__btn-img {
    }

    &__btn-img-cross {
      display: none;
    }

    &__logo {
      max-width: 163px;
      width: 100%;
    }

    &__nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: calc(100vh - 100%);
      background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
      align-items: flex-start;
      justify-content: center;
    }

    &__list {
      padding-top: 40px;
      flex-direction: column;
      gap: 32px;
    }

    &__item-link {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-transform: capitalize;
      text-align: center;
      color: #333D4B;
    }

    &__button {
      display: block;
    }
  }
}