.quality {

  margin-bottom: 168px;

  &__container {
    padding-top: 88px;
    padding-bottom: 176px;
    padding-left: 85px;
    background-color: #2C343E;
    position: relative;
    border-radius: 8px;
  }

  &__left {
  }

  &__left-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
    width: 517px;
  }

  &__left-text {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
  }

  &__right {
    background-image: url(./../images/quality__bgi.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 474px;
    position: absolute;
    top: calc(-20%);
    left: calc(100% - 530px);
    border-radius: 8px;
  }
}


@media only screen and (max-width: 800px) {
  .quality {

    margin-bottom: 128px;

    &__container {
      padding: 224px 74px 83px 74px;
      background-color: #2C343E;
      position: relative;
      border-radius: 8px;
    }

    &__left {
    }

    &__left-heading {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 24px;
      text-align: center;
      margin-left: 50px;
    }

    &__left-text {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #FEFCF7;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 540px;
      margin-left: 30px;
    }

    &__right {
      background-image: url(./../../images/quality__bgi__tablet.png);
      background-repeat: no-repeat;
      width: 573px;
      height: 320px;
      position: absolute;
      top: calc(-30%);
      left: calc(100% - 670px);
      border-radius: 8px;
    }
  }
}

@media only screen and (max-width: 430px) {
  .quality {

    margin-bottom: 128px;

    &__container {
      padding: 224px 74px 83px 74px;
      background-color: #2C343E;
      position: relative;
      border-radius: 8px;
      width: 688px;
    }

    &__left {
    }

    &__left-heading {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 24px;
      text-align: center;
      margin-left: 20px;
    }

    &__left-text {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #FEFCF7;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 540px;
      margin-left: 5px;
    }

    &__right {
      background-image: url(./../../images/quality__bgi__tablet.png);
      background-repeat: no-repeat;
      width: 573px;
      height: 320px;
      position: absolute;
      top: calc(-30%);
      left: calc(100% - 630px);
      border-radius: 8px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .quality {

    margin-bottom: 120px;

    &__container {
      padding: 142px 24px 61px 24px;
      background-color: #2C343E;
      position: relative;
      border-radius: 8px;
      width: 327px;
    }

    &__left {
    }

    &__left-heading {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 24px;
      text-align: center;
      width: 279px;
      margin-left: -4px;
    }

    &__left-text {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #FEFCF7;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 279px;
    }

    &__right {
      background-image: url(./../../images/quality__bgi__mobile.png);
      background-repeat: no-repeat;
      width: 279px;
      height: 156px;
      position: absolute;
      top: calc(-15%);
      left: calc(100% - 307px);
      border-radius: 8px;
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  &__right {
    background-image: url("./../../images/quality__bgi@2x.png");
  }
}
